---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Component from '../components/Component.astro'
import GroupComponent from '../components/GroupComponent.astro'
---

<Layout 
	title="CircuiTikZ Generator"
	description="Explore the electronic components compatible with Circuitikz Generator."
	canononical="https://www.circuitikz-generator.xyz/components/">
	<main>
		<Header subtitle="Components"/>

		<div id="guides">
			<div class="guide">
				<img src="/icons/traceable32.svg" alt="Traceable components logo">
				<h5>Traceable</h5>
			</div>
			<div class="guide">
				<img src="/icons/no_traceable32.svg" alt="Non-traceable components logo">
				<h5>No Traceable</h5>
			</div>
		</div>

		<p><br>The following list shows the electronic components supported by the tool:</p>

		<GroupComponent name="Basic" image="/icons/traceable32.svg"/>

		<div class="category_content">	
			<Component name="Wire" image="/icons/components/basic/Wire.svg"/>
			<Component name="Crossings" image="/icons/components/basic/Crossings.svg"/>
		</div>

		
		<GroupComponent name="Terminal Shapes" image="/icons/traceable32.svg"/>
		
		<div class="category_content">	
			<Component name="Connected" image="/icons/components/terminal_shapes/Circle.svg"/>
			<Component name="Unconnected" image="/icons/components/terminal_shapes/Circle_Open.svg"/>
			<Component name="Diamond" image="/icons/components/terminal_shapes/Diamond.svg"/>
			<Component name="Open Diamond" image="/icons/components/terminal_shapes/Diamond_Open.svg"/>
			<Component name="Square" image="/icons/components/terminal_shapes/Square.svg"/>
			<Component name="Open Square" image="/icons/components/terminal_shapes/Square_Open.svg"/>
			<Component name="Arrow" image="/icons/components/terminal_shapes/Arrow.svg"/>
		</div>


		<GroupComponent name="Sources" image="/icons/traceable32.svg"/>

		<div class="category_content">	
			<Component name="Battery" image="/icons/components/sources/Battery.svg"/>
			<Component name="Battery 1" image="/icons/components/sources/Battery_1.svg"/>
			<Component name="Battery 2" image="/icons/components/sources/Battery_2.svg"/>
			<Component name="DC Voltage" image="/icons/components/sources/Voltage_Source.svg"/>
			<Component name="DC Current" image="/icons/components/sources/Current_Source.svg"/>
			<Component name="AC Voltage" image="/icons/components/sources/SinusoidalVoltage.svg"/>
			<Component name="AC Current" image="/icons/components/sources/SinusoidalCurrent.svg"/>
		</div>


		<GroupComponent name="Controlled Sources" image="/icons/traceable32.svg"/>

		<div class="category_content">	
			<Component name="DC Controlled Voltage" image="/icons/components/controller_sources/ControlledVoltage.svg"/>
			<Component name="DC Controlled Current" image="/icons/components/controller_sources/ControlledCurrent.svg"/>
			<Component name="AC Controlled Voltage" image="/icons/components/controller_sources/ControlledSinusoidalVoltage.svg"/>
			<Component name="AC Controlled Current" image="/icons/components/controller_sources/ControlledSinusoidalCurrent.svg"/>
			<Component name="Empty Controlled Source" image="/icons/components/controller_sources/EmptyControlled.svg"/>
		</div>


		<GroupComponent name="DC Sources" image="/icons/traceable32.svg"/>

		<div class="category_content">	
			<Component name="DC Voltage" image="/icons/components/dc_sources/DC_Current.svg"/>
			<Component name="DC Current" image="/icons/components/dc_sources/DC_Voltage.svg"/>
		</div>

		<GroupComponent name="Special Sources" image="/icons/traceable32.svg"/>

		<div class="category_content">
			<Component name="Noise Voltage" image="/icons/components/special_sources/Noise_Voltage.svg"/>
			<Component name="Noise Current" image="/icons/components/special_sources/Noise_Current.svg"/>
			<Component name="Square Voltage" image="/icons/components/special_sources/Square_Voltage.svg"/>
			<Component name="Triangle Voltage" image="/icons/components/special_sources/Triangle_Voltage.svg"/>
			<Component name="Empty Voltage" image="/icons/components/special_sources/Empty_Voltage.svg"/>
			<Component name="Photovoltaic Current" image="/icons/components/special_sources/Photovoltaic_Voltage.svg"/>
			<Component name="Double Zero style Current" image="/icons/components/special_sources/Double_Zero_Source.svg"/>
			<Component name="Double Zero style Voltage" image="/icons/components/special_sources/Double_Zero_Source.svg"/>
		</div>

		<GroupComponent name="Nullator and Norator" image="/icons/traceable32.svg"/>

		<div class="category_content">	
			<Component name="Nullator" image="/icons/components/nullator_norator/Nullator.svg"/>
			<Component name="Norator" image="/icons/components/nullator_norator/Norator.svg"/>
		</div>

		<GroupComponent name="Resistors" image="/icons/traceable32.svg"/>

		<div class="category_content">	
			<Component name="Resistor" image="/icons/components/resistors/Resistor.svg"/>
		</div>


		<GroupComponent name="Inductors" image="/icons/traceable32.svg"/>

		<div class="category_content">	
			<Component name="Inductor" image="/icons/components/inductors/Inductor.svg"/>
		</div>


		<GroupComponent name="Capacitors" image="/icons/traceable32.svg"/>

		<div class="category_content">	
			<Component name="Capacitor" image="/icons/components/capacitors/Capacitor.svg"/>
			<Component name="Polarized Capacitor" image="/icons/components/capacitors/Capacitor_Polarized.svg"/>
			<Component name="Electrolytic Capacitor" image="/icons/components/capacitors/Capacitor_Electrolytic.svg"/>
			<Component name="Piezoelectric" image="/icons/components/capacitors/Capacitor_Piezoelectric.svg"/>
		</div>


		<GroupComponent name="Diodes" image="/icons/traceable32.svg"/>

		<div class="category_content">

			<Component name="Diode" image="/icons/components/diodes/Diode.svg"/>
			<Component name="Schottky Diode" image="/icons/components/diodes/Diode_Schottky.svg"/>
			<Component name="Zener Diode" image="/icons/components/diodes/Diode_Zener.svg"/>
			<Component name="ZZener Diode" image="/icons/components/diodes/Diode_ZZener.svg"/>
			<Component name="Tunnel Diode" image="/icons/components/diodes/Diode_Tunnel.svg"/>
			<Component name="Photodiode" image="/icons/components/diodes/Diode_Photo.svg"/>
			<Component name="Led" image="/icons/components/diodes/Diode_Led.svg"/>
			<Component name="Laser Diode" image="/icons/components/diodes/Diode_Laser.svg"/>
			<Component name="Varcap" image="/icons/components/diodes/Diode_Varcap.svg"/>
			<Component name="TVS Diode" image="/icons/components/diodes/Diode_TVS.svg"/>
			<Component name="Shockley Diode" image="/icons/components/diodes/Diode_Shockley.svg"/>
			<Component name="Bidirectional Diode" image="/icons/components/diodes/Diode_Bidirectional.svg"/>
			
		</div>


		<GroupComponent name="Switches" image="/icons/traceable32.svg"/>

		<div class="category_content">	
			<Component name="Switch" image="/icons/components/switches/Switch_Open.svg"/>
			<Component name="Closing Switch" image="/icons/components/switches/Switch_Closing.svg"/>
			<Component name="Opening Switch" image="/icons/components/switches/Switch_Opening.svg"/>
			<Component name="Push Button" image="/icons/components/switches/Push.svg"/>
			<Component name="Push Closed" image="/icons/components/switches/Push_Closed.svg"/>
		</div>


		<GroupComponent name="Transistors" image="/icons/no_traceable32.svg"/>

		<div class="category_content">	
			<Component name="NPN" image="/icons/components/transistors/NPN.svg"/>
			<Component name="PNP" image="/icons/components/transistors/PNP.svg"/>
			<Component name="Schottky NPN" image="/icons/components/transistors/NPN_Schottky.svg"/>
			<Component name="Schottky PNP" image="/icons/components/transistors/PNP_Schottky.svg"/>
			<Component name="Diode NPN" image="/icons/components/transistors/NPN_Diode.svg"/>
			<Component name="Diode PNP" image="/icons/components/transistors/PNP_Diode.svg"/>
			<Component name="Photo NPN" image="/icons/components/transistors/NPN_Photo.svg"/>
			<Component name="Photo PNP" image="/icons/components/transistors/PNP_Photo.svg"/>
			<Component name="Nigbt" image="/icons/components/transistors/NPN_Nigbt.svg"/>
			<Component name="Pigbt" image="/icons/components/transistors/PNP_Pigbt.svg"/>
			<Component name="NMOS" image="/icons/components/transistors/Nmos.svg"/>
			<Component name="PMOS" image="/icons/components/transistors/Pmos.svg"/>
			<Component name="NMOS Depletion" image="/icons/components/transistors/Nmos_Depletion.svg"/>
			<Component name="PMOS Depletion" image="/icons/components/transistors/Pmos_Depletion.svg"/>
			<Component name="Hemt" image="/icons/components/transistors/Hemt.svg"/>
			<Component name="Hemt NoBase" image="/icons/components/transistors/Hemt_Nobase.svg"/>
			<Component name="NFET" image="/icons/components/transistors/Nfet.svg"/>
			<Component name="PFET" image="/icons/components/transistors/Pfet.svg"/>
			<Component name="NFET Depletion" image="/icons/components/transistors/Nfet_Depletion.svg"/>
			<Component name="PFET Depletion" image="/icons/components/transistors/Pfet_Depletion.svg"/>
		</div>


		<GroupComponent name="Grounds" image="/icons/traceable32.svg"/>

		<div class="category_content">	
			<Component name="Ground" image="/icons/components/grounds/Ground_Earth.svg"/>
			<Component name="Tailless" image="/icons/components/grounds/Ground_Tailless.svg"/>
			<Component name="Reference" image="/icons/components/grounds/Ground_Reference.svg"/>
			<Component name="Signal" image="/icons/components/grounds/Ground_Signal.svg"/>
			<Component name="Noiseless" image="/icons/components/grounds/Ground_Noiseles.svg"/>
			<Component name="Protective" image="/icons/components/grounds/Ground_Protective.svg"/>
			<Component name="Chassis" image="/icons/components/grounds/Ground_Chassis.svg"/>
		</div>


		<GroupComponent name="Power Supplies" image="/icons/traceable32.svg"/>

		<div class="category_content">	
			<Component name="VCC" image="/icons/components/power_supplies/Supplies_VCC.svg"/>
			<Component name="VEE" image="/icons/components/power_supplies/Supplies_VEE.svg"/>
		</div>


		<GroupComponent name="Transformers" image="/icons/no_traceable32.svg"/>

		<div class="category_content">	
			<Component name="Transformer" image="/icons/components/transformers/Transformer.svg"/>
			<Component name="Gyrator" image="/icons/components/transformers/Gyrator.svg"/>
			<Component name="Transformer Core" image="/icons/components/transformers/Transformer_Core.svg"/>
		</div>


		<GroupComponent name="Amplifiers" image="/icons/no_traceable32.svg"/>

		<div class="category_content">	
			<Component name="Operational Amplifier" image="/icons/components/amplifiers/Amplifier.svg"/>
		</div>


		<GroupComponent name="Instruments" image="/icons/traceable32.svg"/>

		<div class="category_content">
			<Component name="Ammeter" image="/icons/components/instruments/Ammeter.svg"/>
			<Component name="Voltmeter" image="/icons/components/instruments/Voltmeter.svg"/>
			<Component name="Ohmmeter" image="/icons/components/instruments/Ohmmeter.svg"/>
			<Component name="Square Meter" image="/icons/components/instruments/Square_Meter.svg"/>
			<Component name="Ramp Oscilloscope" image="/icons/components/instruments/Oscilloscope_Ramps.svg"/>
			<Component name="Sin Oscilloscope" image="/icons/components/instruments/Oscilloscope_Sin.svg"/>
			<Component name="Square Oscilloscope" image="/icons/components/instruments/Oscilloscope_Square.svg"/>
			<Component name="Triangle Oscilloscope" image="/icons/components/instruments/Oscilloscope_Triangles.svg"/>
			<Component name="Lissajous Oscilloscope" image="/icons/components/instruments/Oscilloscope_Lissajous.svg"/>
			<Component name="Zero Oscilloscope" image="/icons/components/instruments/Oscilloscope_Zero.svg"/>
			<Component name="None Oscilloscope" image="/icons/components/instruments/Oscilloscope_None.svg"/>
			<Component name="Current Loop" image="/icons/components/instruments/Current_Loop.svg"/>
		</div>


		<GroupComponent name="Mechanical Analogy" image="/icons/traceable32.svg"/>

		<div class="category_content">
			<Component name="Mechanical Damping" image="/icons/components/mechanical_analogy/Damping.svg"/>
			<Component name="Mechanical Inerter" image="/icons/components/mechanical_analogy/Inerter.svg"/>
			<Component name="Mechanical Stiffness" image="/icons/components/mechanical_analogy/Stiffness.svg"/>
			<Component name="Mechanical Viscoelastic" image="/icons/components/mechanical_analogy/Viscoelastic.svg"/>
			<Component name="Mechanical Mass" image="/icons/components/mechanical_analogy/Mass.svg"/>
		</div>


		<GroupComponent name="Other Bipoles" image="/icons/traceable32.svg"/>

		<div class="category_content">
			<Component name="Thermocouple" image="/icons/components/other_bipoles/Thermocouple.svg"/>
			<Component name="Fuse" image="/icons/components/other_bipoles/Fuse.svg"/>
			<Component name="Asymmetric Fuse" image="/icons/components/other_bipoles/Asymmetric_Fuse.svg"/>
			<Component name="Squid" image="/icons/components/other_bipoles/Squid.svg"/>
			<Component name="Barrier" image="/icons/components/other_bipoles/Barrier.svg"/>
			<Component name="Open Barrier" image="/icons/components/other_bipoles/Open_Barrier.svg"/>
			<Component name="Gas" image="/icons/components/other_bipoles/Gas.svg"/>
			<Component name="Lamp" image="/icons/components/other_bipoles/Lamp.svg"/>
			<Component name="Bulb" image="/icons/components/other_bipoles/Bulb.svg"/>
			<Component name="LoudSpeaker" image="/icons/components/other_bipoles/LoudSpeaker.svg"/>
			<Component name="Mic" image="/icons/components/other_bipoles/Mic.svg"/>
			<Component name="Buzzer" image="/icons/components/other_bipoles/Buzzer.svg"/>
			<Component name="Reversed Buzzer" image="/icons/components/other_bipoles/Reversed_Buzzer.svg"/>
		</div>


	</main>

</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	ul {
		padding: 0;
		margin: 0;
	}
	h5 {
		text-align: left;
	}
	.category_content{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(145px, 145px));
		gap: 1rem;
	}
	.shortcut {
		color: black;
		font-size: 80%;
		font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
		background-color: #fff;
		border: 1px solid #a6a6a6;
		border-radius: 4px;
		box-shadow: 0 2px grey;
		padding: 2.4px 6px;
		margin: auto 0;
	}
	.instructions {
		margin-top: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background-color: #23262d;
		padding: 1.5rem 2rem 1.5rem 2rem;
		border-radius: 8px;
	}
	.instructions li {
		margin-left: 1.7rem;
		font-size: 90%;
	}
	.traceable {
		/*list-style-image: url(/icons/traceable.svg);*/
	}
	.notraceable {
	    /*list-style-image: url(/icons/no_traceable.svg);*/
	}
	.instructions:is(:hover, :focus-within) {
		border-color: rgb(var(--accent-light));
	}
	.instructions:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
	#guides {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 2rem;
		margin-top: 1rem;
	}
	.guide{
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.guide img{
		width: 24px;
		height: 24px;
	}
	.guide h5{
		margin: 0;
	}
	
</style>