---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
---

<Layout title="CircuiTikZ Generator" description="Tool open source to build electronic circuits in LaTeX, compatible with CircuiTikZ library">
	<main>
		<Header/>

		<div class="instructions">
			<p><kbd class="shortcut">Ctrl</kbd> + <kbd class="shortcut">Z</kbd> → Deshacer</p>
			<p><kbd class="shortcut">Ctrl</kbd> + <kbd class="shortcut">Shift</kbd> + <kbd class="shortcut">Z</kbd> → Rehacer</p>
			<p><kbd class="shortcut">WheelUp</kbd> → Zoom in</p>
			<p><kbd class="shortcut">WheelDown</kbd> → Zoom out</p>
			<p><kbd class="shortcut">Space</kbd> + <kbd class="shortcut">Draging</kbd> → Drag workspace</p>
		</div>
		
		
	</main>

</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h2 {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.shortcut {
		color: black;
		font-size: 80%;
		font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
		background-color: #fff;
		border: 1px solid #a6a6a6;
		border-radius: 4px;
		box-shadow: 0 2px grey;
		padding: 2.4px 6px;
		margin: auto 0;
	}
	.instructions {
		margin-top: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background-color: #23262d;
		padding: 1.5rem 2rem 1.5rem 2rem;
		border-radius: 8px;
	}
	.instructions p {
		padding: 0.7rem 1rem 0.7rem 1rem;
		margin: 0px;
	}
</style>